<main-header></main-header>

<ion-content color="tertiary">
    <div class="container">
        <h1 class="page-title">Cadatrar usuário</h1>
        <form [formGroup]="registerForm" class="box-user-register">
            <div text-center>
                <img class="page-icon" src="../../../assets/imgs/addUser.png">
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-label>Nome*:</ion-label>
                        <ion-input formControlName="name" placeholder="Nome"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.name">
                            <div class="error-message"
                                *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                    <ion-col>
                        <ion-label>Sobrenome*:</ion-label>
                        <ion-input formControlName="last_name" placeholder="Sobrenome"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.last_name">
                            <div class="error-message"
                                *ngIf="registerForm.get('last_name').hasError(validation.type) && (registerForm.get('last_name').dirty || registerForm.get('last_name').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>E-mail*:</ion-label>
                        <ion-input formControlName="email" placeholder="E-mail"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.email">
                            <div class="error-message"
                                *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>Senha*:</ion-label>
                        <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.password">
                            <div class="error-message"
                                *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>Tipo de usuário*:</ion-label>
                        <ion-select formControlName="user_type" placeholder="Tipo de usuário">
                            <ion-select-option value="Administrador">Administrador</ion-select-option>
                            <ion-select-option value="Comum">Comum</ion-select-option>
                        </ion-select>
                        <ng-container *ngFor="let validation of validationMessages.user_type">
                            <div class="error-message"
                                *ngIf="registerForm.get('user_type').hasError(validation.type) && (registerForm.get('user_type').dirty || registerForm.get('user_type').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>CPF*:</ion-label>
                        <ion-input formControlName="cpf" placeholder="CPF" [brmasker]="{person: true}"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.cpf">
                            <div class="error-message"
                                *ngIf="registerForm.get('cpf').hasError(validation.type) && (registerForm.get('cpf').dirty || registerForm.get('cpf').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div text-center>
                <ion-button (click)="register()" class="btn-user-register">Cadastrar</ion-button>
            </div>
        </form>
    </div>
</ion-content>