<modal-header title="Alterar senha"></modal-header>
<ion-content color="tertiary">
    <div class="container">
        <form [formGroup]="changePasswordForm" class="box">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-input type="password" formControlName="new_password" placeholder="Nova senha"></ion-input>
                        <ng-container *ngFor="let validation of validationMessages.new_password">
                            <div class="error-message"
                                *ngIf="changePasswordForm.get('new_password').hasError(validation.type) && (changePasswordForm.get('new_password').dirty || changePasswordForm.get('new_password').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div text-center>
                <ion-button (click)="update()">Salvar</ion-button>
            </div>
        </form>
    </div>
</ion-content>
