<modal-header></modal-header>

<ion-content color="tertiary">
    <div class="container regular page-login">
        <div class="box">
            <div text-center>
                <img class="img-login" src="../../../../assets/imgs/fatapp.png">
            </div>
            <form [formGroup]="forgotPasswordForm">
                <ion-grid>
                    <ion-row padding-bottom>
                        <ion-col size="4" class="border-bottom">
                        </ion-col>
                        <ion-col size="4">
                            <div class="page-title" text-center>Esqueceu a senha</div>
                        </ion-col>
                        <ion-col size="4" class="border-bottom">
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-input formControlName="email" type="text" placeholder="E-mail: "></ion-input>
                            <ng-container *ngFor="let validation of validationMessages.email">
                              <div class="error-message"
                                   *ngIf="forgotPasswordForm.get('email').hasError(validation.type) && (forgotPasswordForm.get('email').dirty || forgotPasswordForm.get('email').touched)">
                                  {{ validation.message }}
                              </div>
                          </ng-container>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div text-center>
                    <ion-button class="btn-login" (click)="submit()">Enviar</ion-button>
                </div>
            </form>
        </div>
    </div>
</ion-content>