<page-header title="Lista de presença"></page-header>

<ion-content color="tertiary">
    <div class="container">
        <h1 class="page-title">Lista de presença</h1>
        <form [formGroup]="activitySearchForm">
            <ion-grid class="box">
                <ion-row>
                    <ion-col>
                        <ion-label position="fixed">Pesquisar:</ion-label>
                        <ion-input formControlName="name"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="ion-text-center">
                <ion-button (click)="getActivitySearch()">Pesquisar</ion-button>
            </div>
        </form>
    </div>
    <br>
    <div class='container'>
        <span *ngIf="!activities || activities == ''">
            <div>Não há nenhuma atividade agendada nesse evento.</div>
        </span>
        <span *ngIf="activities">
            <span *ngIf="!activitySearch || activitySearch == ''">
                <div *ngFor="let activity of activities">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>{{activity.speaker.speakerName}}</ion-card-subtitle>
                            <ion-card-title class="highlight">{{activity.title}}</ion-card-title>
                        </ion-card-header>
                        <ion-item>
                            <ion-label>
                                <div class="d-block">E-mail: <span>{{activity.speaker.speakerEmail}}</span></div>
                                <div class="d-block">Tipo: <span>{{activity.type}}</span></div>
                                <div class="d-block">Local: <span>{{activity.room.type}}</span> {{activity.room.name}}
                                </div>
                                <div class="d-block">Público-alvo: <span
                                        *ngFor="let target of activity.targetAudience">{{target.acronym}} </span>
                                </div>
                                <br>
                                <div class="d-block">De: <span>{{activity.formatedInitialTime}}</span></div>
                                <div class="d-block">Até: <span>{{activity.formatedFinalTime}}</span></div>
                                <br>
                                <div *ngIf="activity.subscribers" class="d-block">Quantidade de inscritos:
                                    <span>{{activity.subscribers.total}}</span>/<span>{{activity.room.capacity}}</span>
                                </div>
                            </ion-label>
                        </ion-item>
                        <ion-card-content>
                            <span>Descrição: </span>
                            {{activity.description}}
                        </ion-card-content>
                        <ion-button (click)="goToActivityStudent(activity.id)" fill="outline">Lista de
                            presença manual
                        </ion-button>
                        <ion-button (click)="openSendEmailModal(activity)" fill="outline">Enviar lista de presença por
                            e-mail
                        </ion-button>
                        <span *ngIf="activity.subscribers">
                            <span *ngIf="activity.subscribers.total > 0">
                                <ion-button (click)="goToReport(activity.id)" fill="outline">Relatório
                                </ion-button>
                            </span>
                        </span>
                        <ion-button (click)="goToQrCode(activity.id)" fill="outline">QR-Code</ion-button>
                    </ion-card>
                </div>
            </span>
        </span>

        <span *ngIf="activities">
            <span *ngIf="activitySearch">
                <div *ngFor="let activity of activitySearch">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>{{activity.speaker.speakerName}}</ion-card-subtitle>
                            <ion-card-title class="highlight">{{activity.title}}</ion-card-title>
                        </ion-card-header>
                        <ion-item>
                            <ion-label>
                                <div class="d-block">E-mail: <span>{{activity.speaker.speakerEmail}}</span></div>
                                <div class="d-block">Tipo: <span>{{activity.type}}</span></div>
                                <div class="d-block">Local: <span>{{activity.room.type}}</span> {{activity.room.name}}
                                </div>
                                <br>
                                <div class="d-block">De: <span>{{activity.formatedInitialTime}}</span></div>
                                <div class="d-block">Até: <span>{{activity.formatedFinalTime}}</span></div>
                                <br>
                                <div *ngIf="activity.subscribers" class="d-block">Quantidade de inscritos:
                                    <span>{{activity.subscribers.total}}</span>/<span>{{activity.room.capacity}}</span>
                                </div>
                            </ion-label>
                        </ion-item>
                        <ion-card-content>
                            <span>Descrição: </span>
                            {{activity.description}}
                        </ion-card-content>
                        <ion-button (click)="goToActivityStudent(activity.id)" fill="outline">Lista de
                            presença manual
                        </ion-button>
                        <ion-button (click)="openSendEmailModal(activity)" fill="outline">Enviar lista de presença por
                            e-mail
                        </ion-button>
                        <span *ngIf="activity.subscribers">
                            <span *ngIf="activity.subscribers.total > 0">
                                <ion-button (click)="goToReport(activity.id)" fill="outline">Relatório
                                </ion-button>
                            </span>
                        </span>
                        <ion-button (click)="goToQrCode(activity.id)" fill="outline">QR-Code</ion-button>
                    </ion-card>
                </div>
            </span>
        </span>
    </div>
</ion-content>