@media (min-width: 600px)
{
  .banner{
    max-width: 600px;
  }
}

.welcome{
  width:60%;
  
}

.container{
  display:flex;
  justify-content: center;
  margin-top: 60px;
}

.text-welcome{
  line-height: 200%;
  margin: 55px;
}
