<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <img class="welcome" src="../../../assets/imgs/bem-vindo.jpeg">
    </div>
    <p class="text-welcome">
        Bem-vindo ao Fatapp, sistema construído para auxiliar o 
        gerenciamento de eventos da FATEC SCS (Faculdade de tecnologia de São Caetano do Sul).
        <br/>
        Por aqui é possível gerenciar eventos, cadastrando salas, 
        recursos e palestrantes, possibilitando o envio de relatórios por E-mail, 
        e a impressão de um QR Code por atividade para que o público possa garantir 
        seu certificado, e os alunos a sua presença no determinado horário de palestra.
        <br/>
    </p>
    

</ion-content>