<main-header ></main-header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-content>

    <div class="container" class="ion-text-center">
        <h1 class="page-title">O que é o Fatapp?</h1>

    </div>
    <hr class="principal"/> <br />
    
    <div class="resumo">
        <p> Criado pelos alunos do sexto semestre da Fatec São Caetano do Sul no segundo semestre do ano letivo de 2019. 
            A idealização do sistema Fatapp surgiu após a solicitação dos responsáveis pela gerência dos eventos da Faculdade
            de tecnologia (FATEC) de São Caetano do Sul ter identificado que os processos realizados para gerir eventos
            ocorriam de maneira manual, utilizando grande quantidade de papel e exigindo um enorme tempo gasto pela equipe.
        </p> 
        <p>
            Esses processos incluíam: Gerir Eventos, enviar certificados, validar presença dos alunos nas palestras
            , e identificá-los nas chamadas dos professores cuja aula estaria sendo dada no momento da palestra.
            e através destes pontos encontrados surgiu o Fatapp, que foi divido em duas partes: Fatapp Admin e Fatapp.
        </p>
        <p>
            Cujo primeiro trata-se de um sistema utilizado apenas pela equipe responsável pelo gerenciamento dos eventos, que atenderá a criação de novos eventos, a gestão do
            público participantes, cadastro de palestrantes e envio de relatório de presença para professores.

        </p>
        <p>
            O segundo, um aplicativo onde possibilitará que os alunos ou terceiros possam garantir seu certificado e/ou presença nas aulas
            que estariam sendo ensinadas quando a palestra em questão está acontecendo.
        </p>
        <p>
            Este sistema atenderá a primeira situação problema destacada.
        </p>
    </div>

    <br/> <br/>
    <div class="container" class="ion-text-center">
        <h1 class="page-title">Produzido por:</h1>
    </div>
    <hr class="principal"/> <br />

    <div class="container">
        <h1 class="page-title sub-title">Time de Desenvolvimento</h1>
    </div>
    <hr class="sub"/>

    <!--CAIO -->
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col size="1">
                    <i class="fa fa-user" style="font-size:30px"></i>
                </ion-col>
                <ion-col size="10" style="margin-top: 1%;">
                     Caio Monteiro Paulino
                </ion-col>
                <ion-col size="1">
                   <!--
                        <a href="#"><i class="fa fa-linkedin" style="font-size:30px;color:blue"></i></a>
                    -->
                </ion-col>
            </ion-row>
        </ion-card-header>
    </ion-card>
          
    <!-- GUILHERME -->
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col size="1">
                    <i class="fa fa-user" style="font-size:30px"></i>
                </ion-col>
                <ion-col size="10" style="margin-top: 1%;">
                    Guilherme Souza Vieira
                </ion-col>
                <ion-col size="1">
                    <a href="https://www.linkedin.com/in/guilherme-souza-vieira/"><i class="fa fa-linkedin" style="font-size:30px;color:blue"></i></a>
                </ion-col>
            </ion-row>
        </ion-card-header>
    </ion-card>
    <!--HENRIQUE -->
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col size="1">
                    <i class="fa fa-user" style="font-size:30px"></i>
                </ion-col>
                <ion-col size="10" style="margin-top: 1%;">
                    Henrique Pereira de Souza
                </ion-col>
                <ion-col size="1">
                    <a href="https://www.linkedin.com/in/henrique-sousa-a80210173/"><i class="fa fa-linkedin" style="font-size:30px;color:blue"></i></a>
                </ion-col>
            </ion-row>
        </ion-card-header>
    </ion-card>

    <!-- HUGO -->
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col size="1">
                    <i class="fa fa-user" style="font-size:30px"></i>
                </ion-col>
                <ion-col size="10" style="margin-top: 1%;">
                    Hugo Pinheiro Barros
                </ion-col>
                <ion-col size="1">
                    <a href="https://www.linkedin.com/in/hugo-barros/"><i class="fa fa-linkedin" style="font-size:30px;color:blue"></i></a>
                </ion-col>
            </ion-row>
        </ion-card-header>
    </ion-card>

    <!-- JESSICA -->
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col size="1">
                    <i class="fa fa-user" style="font-size:30px"></i>
                </ion-col>
                <ion-col size="10">
                    <span>Jessica Regina Rodrigues Holanda</span><br/>
                    <span class="scrum-Master">Scrum Master</span>
                </ion-col>
                <ion-col size="1">
                    <a href="https://www.linkedin.com/in/jessica-holanda-268453157/"><i class="fa fa-linkedin" style="font-size:30px;color:blue"></i></a>
                </ion-col>
            </ion-row>
        </ion-card-header>
    </ion-card>
    

    <br/> <br/>
    <div class="container">
        <h1 class="page-title sub-title">Dono do Produto</h1>
    </div>
    <hr class="sub"/>

    <!-- PO GUILHERME -->
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col size="1" class="product-owner">
                    <i class="fa fa-user" style="font-size: 30px"></i>
                </ion-col>
                <ion-col size="10" style="margin-top: 1%;">
                    Guilherme Cortonesi Cela
                </ion-col>
                <!--
                        <a href="#"><i class="fa fa-linkedin" style="font-size:30px;color:blue"></i></a>
                    -->
            </ion-row>
        </ion-card-header>
    </ion-card>

    <br/> <br/>
    <div class="container">
        <h1 class="page-title sub-title">Orientador</h1>
    </div>
    <hr class="sub"/>

    <!-- ORIENTADOR VENDRA -->
    <ion-card>
        <ion-card-header>
            <ion-row>
                <ion-col size="1" class="orientador">
                    <i class="fa fa-user" style="font-size:30px"></i>
                </ion-col>
                <ion-col size="10" style="margin-top: 1%;">
                    Wilson Vendramel
                </ion-col>
                <ion-col size="1">
                    <!--
                        <a href="#"><i class="fa fa-linkedin" style="font-size:30px;color:blue"></i></a>
                    -->
                </ion-col>
            </ion-row>
        </ion-card-header>
    </ion-card>
</ion-content>
