ion-content {
  ion-label {
    font-size: 0.8rem;
    color: black;
  }
  ion-button {
    width: 100%;
  }
  .info {
    font-size: 12px;
  }
  .btn-submit {
    width: 100%;
  }
  .btn-search {
    float: right;
  }
  .speaker-picture{
    border-radius: 80px;
    height: 115px;
  }
}
