<main-header></main-header>

<ion-content color="tertiary">
  <div class="container">
    <h1 class="page-title">Cadatrar evento</h1>
    <form [formGroup]="formEvent" enctype="multipart/form-data">
      <ion-grid class="box">
        <div text-center>
          <img class="page-icon" src="../../../assets/imgs/add-event.jpeg">
        </div>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="fixed">Título*: </ion-label>
              <ion-input formControlName="title" placeholder="Título do evento"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.title">
              <div class="error-message"
                *ngIf="formEvent.get('title').hasError(validation.type) && (formEvent.get('title').dirty || formEvent.get('title').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="fixed">Edição*: </ion-label>
              <ion-input formControlName="edition" placeholder="Edição"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.edition">
              <div class="error-message"
                *ngIf="formEvent.get('edition').hasError(validation.type) && (formEvent.get('edition').dirty || formEvent.get('edition').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label position="fixed">Descrição*: </ion-label>
                <ion-input formControlName="description" placeholder="Descrição" ></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validationMessages.description">
                <div class="error-message"
                  *ngIf="formEvent.get('description').hasError(validation.type) && (formEvent.get('description').dirty || formEvent.get('description').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="fixed">De*: </ion-label>
              <ion-input [brmasker]="{mask:'00/00/0000 00:00', len:16}" placeholder="Exemplo: 11/08/2019 07:00" formControlName="initialDate"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.initialDate">
              <div class="error-message"
                *ngIf="formEvent.get('initialDate').hasError(validation.type) && (formEvent.get('initialDate').dirty || formEvent.get('initialDate').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="fixed">Até*: </ion-label>
              <ion-input [brmasker]="{mask:'00/00/0000 00:00', len:16}" placeholder="Exemplo: 15/08/2019 22:00" formControlName="finalDate"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validationMessages.finalDate">
              <div class="error-message"
                *ngIf="formEvent.get('finalDate').hasError(validation.type) && (formEvent.get('finalDate').dirty || formEvent.get('finalDate').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
              <ion-item lines="none">
                <ion-label position="fixed">Certificado* </ion-label>
                <div *ngIf="!certifieds || certifieds == ''">Cadastre antes um certificado para esse evento</div>
                <ion-select *ngIf="certifieds" formControlName="certified">
                  <ion-select-option value="{{certified.id}}" *ngFor="let certified of certifieds">
                    {{certified.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ng-container *ngFor="let validation of validationMessages.certified">
                <div class="error-message"
                  *ngIf="formEvent.get('certified').hasError(validation.type) && (formEvent.get('certified').dirty || formEvent.get('certified').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label class="banner">Banner*: </ion-label>
            </ion-item>
            <input formControlName="banner" (change)="selectBanner($event)" type="file" accept="image/*">
            <ng-container *ngFor="let validation of validationMessages.banner">
              <div class="error-message"
                *ngIf="formEvent.get('banner').hasError(validation.type) && (formEvent.get('banner').dirty || formEvent.get('banner').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
        <div>
          <ion-button class="btn-block btn-register" (click)="register()">Cadastrar evento</ion-button>
        </div>
      </ion-grid>
    </form>
  </div>
</ion-content>